@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600");
@import url("https://api.fontshare.com/css?f[]=inter@400,500,600&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}
.font-inter {
  font-family: Inter;
}
.bg-bg-grid {
  background-image: url(/assets/Grid.svg);
}
.bg-bg-grid-0 {
  background-image: url(/assets/Grid1.svg);
}

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}
